.container {
    max-width: 400px;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.searchContainer   {
    margin: 20px 0;
}
.inputField {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#searchBtn {
    padding: 10px 20px;
    background-color: #015bbb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#weatherContainer {
    display: none;
}
#errorMessage {
    color: red;
    font-weight: bold;
}